<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="content">
		<center>
		<h:form>
			<p>
				First Name:<h:inputText value="#{user.firstName}"/>
			</p>
			<p>
				Last Name: <h:inputText value="#{user.lastName}"/>
			</p>
			<p>
				Email: <h:inputText value="#{user.email}"/>
			</p>
			<p>
				Address: <h:inputText value="#{user.address}"/>
			</p>
			<p>
				Phone Number: <h:inputText value="#{user.phoneNumber}"/>
			</p>
			<p>
				Username: <h:inputText value="#{user.userName}"/>
			</p>
			<p>
				Password: <h:inputText value="#{user.passWord}"/>
			</p>
			<p>
				<h:commandButton action="#{registrationController}" value="Register" />
			</p>
		</h:form>
		</center>
		</ui:define>
	</ui:composition>
</html>